<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBGl_skaC-byfJh2S6rsMgoF9V5R1DHg-w</string>
	<key>GCM_SENDER_ID</key>
	<string>619269315577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myPitch</string>
	<key>PROJECT_ID</key>
	<string>mypitch-d4f22</string>
	<key>STORAGE_BUCKET</key>
	<string>mypitch-d4f22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619269315577:ios:836a4b6ddb41873976fb28</string>
</dict>
</plist>